In [1]:
print("Hello World")

Hello World

In [2]:
var1=123
var=var1**var1
#** is power operator

In [3]:
var

114374367934617190099880295228066276746218078451850229775887975052369504785666896446606568365201542169649974727730628842345343196581134895919942820874449837212099476648958359023796078549041949007807220625356526926729664064846685758382803707100766740220839267

In [4]:
print(len(str(var)))
##Count Digits in a Number

258

In [6]:
10**2

100

In [7]:
type(var)

int

In [8]:
type("string")

str

In [10]:
#String Slicing
str1="Thompson"
str1[4]

'p'

In [13]:
str1[len(str1)-1]

'n'

str1[:6]

str1="Thompson"

In [16]:
str1[len(str1)-1::-1]
#Printing numbers in reverse

'nospmohT'

In [18]:
str1[:len(str1)-1:2]
#Alternate characters

'Topo'

In [19]:
str1[len(str1)-1::-2]
#Alternate characters in reverse order

'nsmh'

In [20]:
str1[7:]*10 
#Printing a character in a string 10 times

'nnnnnnnnnn'

In [23]:
print(str1[7:] , str1[7:])
#Printing charac

n n

In [24]:
li=[32, 342, 'Python']
#List creation

In [25]:
print(li)
#List Printing

[32, 342, 'Python']

In [26]:
len(li)
#Length of list

3

In [27]:
li[2]
#Accesing List elements

'Python'

In [29]:
li[len(li)-1]

'Python'

In [30]:
li[len(li)-1]='ASCII'
#Replacing last element of list

In [32]:
li.append('Python')
#Adding new element
print(li)

[32, 342, 'ASCII', 'Python', 'Python']

In [33]:
li[2:]

['ASCII', 'Python', 'Python']

In [34]:
li.pop()

'Python'

In [35]:
print(li)

[32, 342, 'ASCII', 'Python']

In [39]:
li.remove('ASCII')
#Used to remove element

In [40]:
li

[32, 342, 'Python']

In [44]:
li.pop(1)
#POP element of particular index

342

In [45]:
li.insert(3,121)
#Inserts an element at particular index

In [46]:
li

[32, 121]

In [47]:
li2=[[1,2,3],[4,5,6],[7,8,9]]
#Creation of matrix

In [48]:
li2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [49]:
li1=[[1,2,3],[4,5,6],[7,8,9]]

In [50]:
li1+li2
#concatination of 2 matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [51]:
li2[1][1]
#Accessing a particular element in the list

5

In [52]:
li2[0][0]

1

In [54]:
li2.insert(3,[10,11,12])
#inserting new row

In [59]:
li2.pop(3)
#Poping a row in the Matrix

[10, 11, 12]

In [60]:
li2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
li2.pop

In [61]:
li2.remove([1,2,3])

In [62]:
li2

[[4, 5, 6], [7, 8, 9]]

In [63]:
li2.insert(0,[1,2,3])
#innserting a row

In [65]:
li2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [67]:
li1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [69]:
li1=[[2,1,2],[2,4,6],[1,8,1]]
li1

[[2, 1, 2], [2, 4, 6], [1, 8, 1]]

In [70]:
li2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [73]:
for i in range (0,len(li2)):
   for j in range (0,len(li2[i])):
       print(li2[i][j], end=' ')

1 2 3 4 5 6 7 8 9

In [78]:
for i in range(len(li2)-1,-1,-1):
    for j in range(len(li2[i])-1,-1,-1):
        print(li2[i][j], end= ' ')

9 8 7 6 5 4 3 2 1

In [79]:
##Tuples
t1=(123,345,567)
#Defining Tuples

In [80]:
t1[2]+t1[1]

912

In [81]:
t1[len(t1)-1]

567

In [92]:
str(t1[0])[1] +" "+ str(t1[1])[1] +" "+ str(t1[2])[1]

'2 4 6'

In [5]:
t1=(123,345,567)
str(t1[0])[2::-1]+str(t1[1])[2::-1]+str(t1[2])[2::-1]

'321543765'

In [8]:
#reading input from user
str1=input("Enter a string")

Enter a stringWrath of Khan

In [9]:
str1

'Wrath of Khan'

In [10]:
#Ditionary
d1={'procedural':'C','Scripting':'Python','Functional':'ham'}

In [15]:
d1['Scripting']

'Python'

In [12]:
d1.values()

dict_values(['C', 'Python', 'ham'])

In [13]:
d1.keys()

dict_keys(['procedural', 'Scripting', 'Functional'])

In [16]:
d2={'Symbolic':'Matematica, ''}

In [19]:
d1.update(d2)
#Used to merge 2 Dictionaries

In [20]:

d1

{'procedural': 'C',
 'Scripting': 'Python',
 'Functional': 'ham',
 'Symbolic': 'Matematica'}

In [21]:
d1['ObjectOriented']='Java'
#Adding a new element

In [22]:
d1

{'procedural': 'C',
 'Scripting': 'Python',
 'Functional': 'ham',
 'Symbolic': 'Matematica',
 'ObjectOriented': 'Java'}

In [26]:
li=[32, 342, 'Python']
li.extend